.circle-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.circle {
  background: #8D00C4;
  border-radius: 50%;
  height: 0;
  left: 50%;
  opacity: .5;
  position: absolute;
  top: 50%;
  width: 0;
}

.bar-container {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 50%;
}

.bar {
  display: block;
  height: 4%;
  margin: 0.5% 0;
}

.instagram {
  background: #5f5de7;
  display: inline-block;
  height: 100%;
}

.twitter {
  background: #E7A45D;
  display: inline-block;
  height: 100%;
}
